<a href="https://slack.com/oauth/v2/authorize?scope=incoming-webhook&client_id=33336676.569200954261">Add to Slack</a>

<%= link_to 'SLACK OAUTH', 'https://slack.com/oauth/v2/authorize?scope=channels:read,channels:history,groups:history,chat:write&client_id=2329094327.5374808038962&redirect_uri=https://7a1e-71-33-146-168.ngrok-free.app/auth/slack/callback' %>